
@{
       ViewData["Title"] = "ForgotPassword";
    }

<h2>Forgot Password</h2>
<form method="post">
        <div class="form-group">
                <label for="Email">
                        Email
                    </label>
               <input type="email" name="email" class="form-control" required placeholder="Enter your email" />
            </div>
        <input type="submit" class="btn btn-primary" value="Send me reset instructions" />
    </form>

