@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(m => m.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
    <form method="post" asp-action="LogIn" asp-controller="Account">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="@(ViewData.ModelState.ContainsKey("UserName") && ViewData.ModelState["UserName"].Errors.Any() ? "form-control is-invalid" : "form-control")" type="text" placeholder="Enter your Username" />
            @if (ViewData.ModelState.ContainsKey("UserName"))
        {
            foreach (var error in ViewData.ModelState["UserName"].Errors)
            {
                <div class="invalid-feedback">
                    @error.ErrorMessage
                </div>
        }
    }

        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" placeholder="Enter your Password" />
        </div>
        <input type="submit" class="btn btn-primary" value="Sign In" />
        <a asp-action="ForgotPassword" class="btn btn-secondary">I Forgot My Password</a>
    </form>