@{
    ViewData["Title"] = "About";
}
<h4>@ViewData["Title"]</h4>


<p>Our yachts vary in age, some absolutely brand new and some that have been in charter for a few years but have been well maintained and kept up to date. Most of our fleet is between one and five years old.</p>
