@{
    ViewData["Title"] = "Contact";
}
<h4>@ViewData["Title"]</h4>


<address>
    My Boat<br />
    Tortola, BVI<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
  
</address>
