@model CheckoutViewModel
@{
    ViewData["Title"] = "CheckOut";
}
<h2>Check Out</h2>
<div class="col-md-8 order-md-1">
    <h4 class="mb-3">Billing address</h4>
    <form  method="post" asp-action="Index">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" asp-for="FirstName" placeholder="Enter your First Name"  name="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" asp-for="LastName" placeholder="Enter your Last Name"  name="LastName"> 
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        

        <div class="mb-3">
            <label for="email">Email <span class="text-muted"></span></label>
            <input type="email" class="form-control" id="email" asp-for="Email" placeholder="you@example.com" name="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    <div class="mb-3">
    <label for="phone">Phone <span class="text-muted"></span></label>
    <input type="phone" class="form-control" id="phone" asp-for="PhoneNumber" placeholder="Enter your Phone" name="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

        <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address"asp-for="Address" placeholder="1234 Main St"  name="Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Country</label>
                <select class="custom-select d-block w-100" id="country" asp-for="Country" name="Country">
                    <option value="">Choose...</option>
                    <option>United States</option>
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="state">State</label>
                <select class="custom-select d-block w-100" id="state" asp-for="State" name="State">
                    <option value="">Choose...</option>
                    <option>California</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Illinois</option>
                    <option>Florida</option>
                    <option>Colorado</option>
                    <option>Michigan</option>

                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" asp-for="Zip" placeholder="" name="Zip">
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
        </div>
        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked >
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" >
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            @*<div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" >
                <label class="custom-control-label" for="paypal">Paypal</label>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" asp-for="NameOnCard"placeholder=""   name="nameOnCard">
                <small class="text-muted">Full name as displayed on card</small>
                <span asp-validation-for="NameOnCard" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                
               <input type="text" class="form-control" id="cc-number" asp-for="CCnumber" placeholder="" maxlength="16"  name="CCnumber">
                <span asp-validation-for="CCnumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration Month</label>
                <input type="text" class="form-control" id="cc-expiration" asp-for="ExpirationMonth" placeholder="" name="ExpirationMonth">
                <span asp-validation-for="ExpirationMonth" class="text-danger"></span>

            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration Year</label>
                <input type="text" class="form-control" id="cc-expiration" asp-for="ExpirationYear" placeholder=""  name="ExpirationYear">
                <span asp-validation-for="ExpirationYear" class="text-danger"></span>

            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" asp-for="CVV" placeholder="" maxlength="3" name="CVV">
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
    </form>
</div>
